footer.footer
  .container
    .footer__top
      div
        div
          h4.footer__title AVAILABLE FUNCTIONALITY AND MANY BENEFITS
          p.footer__text There are many different settings available to you, and integration with JIRA is supported. Easily import tasks or simply set them manually. Introduce more asynchronous processes, keep communication alive, schedule tasks, organize your workflow properly.
        .footer__bottom-item
          .footer__socials
            ul.footer__list
              li.footer__list-item
                a.footer__list-link(href='https://join.slack.com/t/scrumpokerpro/shared_invite/zt-113gkjkp2-mlYXCPZ_ZV9a~Kp~VQavLA')
                  +icon('slack')
              li.footer__list-item
                a.footer__list-link(href='https://t.me/scrumpokerpro')
                  +icon('telegram')
              li.footer__list-item
                a.footer__list-link(href='mailto:support@scrumpokerpro.com')
                  +icon('mail')
          a.footer__link(href='mailto:support@scrumpokerpro.com') support@scrumpokerpro.com
      div
        div
          h4.footer__title INCREASE THE EFFICIENCY OF A DISTRIBUTED TEAM
          p.footer__text Try to add transparency to the work of the entire team and each individual. Use sprint retro tool to talk about what team is doing and what teamwork challenges are. Distribute working groups for different tasks. It is important that everyone is in control only of himself, but knows about others. This is the task of a highly organized team and a guarantee of effective work.
        .footer__bottom-item.right
          .footer__faq
            ul.footer__list
              li.footer__list-item
                a.footer__link(href='https://scrum-poker-pro-policy.s3.fr-par.scw.cloud/cookie-policy.pdf') Cookie policy
              li.footer__list-item
                a.footer__link(href='https://scrum-poker-pro-policy.s3.fr-par.scw.cloud/privacy-policy.pdf') Privacy policy
              li.footer__list-item
                a.footer__link(href='https://scrum-poker-pro-policy.s3.fr-par.scw.cloud/terms-and-conditions.pdf') Terms and conditions
