header.header
  .container
    .header__inner
      a.header__logo(href='https://space.scrumpokerpro.com/')
        img.header__logo-img(src='img/header/logo.svg' alt='ScrumPokerPro')
      .header__buttons
        a(href='https://space.scrumpokerpro.com/').button Sign up
        a(href='https://space.scrumpokerpro.com/').button.white Sign in
