meta(charset="utf-8")
title= title || 'Page name'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="description" content="Scrum poker planning online and sprint retrospective app for distributed teams. Absolutely free. Integration with jira. Communicate and collaborate without the constraints of physical location.")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
meta(name="robots" content="index, follow")
meta(name="keywords" content="scrum poker, planning poker online, online retrospective app, sprint planning, sprint retro app, scrum poker app")
meta(name="author" content="ScrumPokerPro")
link(rel="icon" href="/img/icon.svg" sizes="any" type="image/svg+xml")
link(rel="stylesheet" media="all" href="css/libs.css")
link(rel="stylesheet" media="all" href="css/app.css")
// Global site tag (gtag.js) - Google Analytics
script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-STT4Y2YMXM')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-STT4Y2YMXM');
// End - Google Analytics
// Yandex.Metrika counter
script(type='text/javascript').
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
  ym(87071856, "init", {
  clickmap:true,
  trackLinks:true,
  accurateTrackBounce:true,
  webvisor:true
  });
noscript
  div
    img(src='https://mc.yandex.ru/watch/87071856' style='position:absolute; left:-9999px;' alt='')
// End - Yandex.Metrika counter
<!--[if lt IE 9]>
script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
<![endif]-->
